.grid {
    display: grid;
    grid-template-rows: 15vh 50vh 35vh;
    max-width: 1600px;
    overflow-x: hidden;
}

.beforeHeader {
    font-size: 3.25em;
}

header {
    grid-row: 2/3;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(52, 71, 20);
    color: rgb(243, 222, 177);
    animation: gradient 4s ease-in-out 1s infinite alternate;
}

@keyframes gradient {
    0% {
        background-color: rgb(52, 71, 20);
    }

    25% {
        background-color: rgb(32, 49, 6);
    }

    50% {
        background-color: rgb(152, 179, 107);
    }

    100% {
        background-color: rgb(115, 168, 24);
    }
}

header h1 {
    margin-top: 1px;
    font-size: 5em;
    line-height: 7px;
    position: relative;
    left: 11.5%;
    bottom: 48%;
}

h3 {
    font-size: 2.25em;
    position: relative;
    left: 17.5%;
    bottom: 52%;
}


header i {
    padding-left: 20px;
    padding-right: 20px;
}

header img {
    position: relative;
    left: 50%;
    bottom: 4%;
    margin-top: 47px;
    
}

.bottomhalf {
    background-color: rgb(212, 98, 5);
    grid-row: 3/4;
    font-family: 'Scada', sans-serif;
}

.img1 {
    margin-top: 70px;
    width: 65px;
    height: 65px;
    position: relative;
    left: 20%;
    top: 600%;
}

.img2 {
    width: 65px;
    height: 65px;
    position: relative;
    left: 30%;
    top: 60%;
}

.img3 {
    width: 65px;
    height: 65px;
    position: relative;
    left: 40%;
    top: 20%;
}

.nextpage {
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(255, 255, 255);
    position: relative;
    left: 1080px;
    top: 10%;
    margin-bottom: 50px;
}

.nextpage i {
    padding-left: 13px;
}

.nextpage a {
    font-size: 2.25em;
    text-decoration: none;
    color: rgb(243, 222, 177);
}

.nextpage a:hover {
    color: rgb(0, 0, 0);
}

.nextpage a:visited {
    color: rgb(255, 175, 101);
}

/*nav STUFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFff*/


#nav_menu {
    grid-row: 1/2;
    justify-self: start;
    width: 300vh;
    font-family: 'Nanum Pen Script', cursive;
    font-size: .4em;
}

#nav_menu ul {
    list-style: none;
    position: relative;
    /* So the first submenu can be positioned within the main menu */
}

#nav_menu ul li {
    float: left;
    font-family: 'Nanum Pen Script', cursive;
    font-size: .8em;
}

#nav_menu ul::after {
    content: "";
    clear: both;
    display: block;
}

/* Styles for the formatting of the multi-tier navigation menu */
#nav_menu ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav_menu ul li {
    width: 24.2%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(22, 163, 40);
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    font-weight: bold;
}

#nav_menu ul li a.current {
    color: rgb(240, 212, 136);
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: rgb(230, 191, 63);
}

#nav_menu ul li:hover ul {
    width: 100%;
}

#nav_menu ul li:hover ul li a {
    display: block;
    text-align: center;
}


/* Hide the slicknav version of the menu by default, until 767px is reached */
.slicknav_menu {
    display: none;
}

/* Change the font size of the .nav_menu at 767px */
@media only screen and (max-width: 767px) {
    .nav_menu ul li a {
        font-size: 1.25em;
    }
}

/* Tweak the styling of .nav_menu, then replace it with the .slicknav_menu version at 767px; slicknav default styles can be tweaked here as well (I've included only one example of this below, but you can do as much as you like) */
@media only screen and (max-width: 767px) {

    /* Hide the #nav_menu at 767 px */
    #nav_menu {
        display: none;
    }

    /* Display the slicknav version of the menu at 767px */
    .slicknav_menu {
        display: block;
    }

    .slicknav_menu .slicknav_menutxt {
        color: rgb(0, 138, 18);
        text-shadow: 0 1px 3px #000;
        font-family: 'Nanum Pen Script', cursive;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        display: block;
        max-width: 100px;
    }

    .slicknav_nav ul {
        margin: 0 0 0 20px;
        text-align: center;
    }
}

/* slicknav css */

/*!
* SlickNav Responsive Mobile Menu v1.0.10
* (c) 2016 Josh Cope
* licensed under MIT
*/
.slicknav_btn {
    position: relative;
    display: block;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em;
}

.slicknav_menu {
    *zoom: 1;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: .588em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_menu:before {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav ul {
    display: block;
}

.slicknav_nav li {
    display: block;
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_nav .slicknav_row {
    display: block;
}

.slicknav_nav a {
    display: block;
}

.slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_brand {
    float: left;
}

.slicknav_menu {
    font-size: 10px;
    box-sizing: border-box;
    background: rgb(1, 117, 63);
    padding: 5px;
}

.slicknav_menu * {
    box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
    color: rgb(32, 221, 48);
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: rgb(46, 172, 8);
}

.slicknav_btn {
    margin: 3px 4px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgb(58, 146, 0);
}

.slicknav_nav {
    color: rgb(48, 182, 36);
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding: 3px 3px;
    margin: 2px 3px;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgb(56, 165, 35);
    color: rgb(255, 255, 255);
}

.slicknav_nav a {
    padding: 2px 2px;
    margin: 1px 1.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Pen Script', cursive;
}

.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgb(28, 168, 58);
    color: rgb(0, 0, 0);
    padding: .5%;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_brand {
    color: #CAEBF2;
    font-size: 18px;
    line-height: 20px;
    padding: 3px 6px;
    height: 44px;
}





/*stuff for mobile!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (max-width: 767px) {
    .layout {
        grid-template-rows: 1.5fr 5fr 3.5fr;
        padding: 0;
        margin: 0;
    }

    .beforeHeader {
        grid-row: 1/2;
    }

    header {
        grid-row: 2/3;
        text-align: center;
    }

    header h1 {
        padding-top: 20px;
        font-size: 2.5em;
        padding-right: 95px;
    }

    header h3 {
        font-size: 1.6em;
        padding-right: 146px;
    }

    header img {
        width: 38%;
        height: 68%;
        z-index: -1;
    }

    .bottomhalf {
        grid-row: 3/4;
    }

    .bottomhalf img {
        position: relative;
        bottom: 20%;
        width: 13%;
        height: 30%;
    }

    .nextpage {
        font-size: 60%;
        position: relative;
        top: 15%;
        left: 77%;
        text-decoration: none;
        color: rgb(243, 222, 177);

    }
}
